@model BooK

@{
    ViewData["Title"] = "Deails Book";
}


<table class="table table-striped">
    <tr>   <th>Author</th>  <th>Category</th> <th>Description</th> <th>Rate</th> <th>DateOfCreate</th> </tr>

    <tr>
        
        <td>@Model.Author</td>

        <td>@Model.Category.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Rate</td>
        <td>@Model.CreatedOn</td>

    </tr>
</table>